<html>
<head>
	<title>{{item.name}}</title>
</head>
<body>
		<a href="/logout">Logout</a>
		<ul>
			<li>Name: {{item.name}}</li>	
			<li>Company Profile: {{item.comapany_profile}}</li>
			<li>Job Profile: {{item.job_profile}}</li>
			<li>Job Reuriment: {{item.job_requirements}}</li>
			<li>Locaton: {{item.location}}
			<li>Vacancies: {{item.vacancies}}</li>
			<li>Job Title: {{item.job_title}}</li>
			<li>Salary: {{item.salary}}</li>

		</ul>

		<a href="{% url 'apply' item.id %}">Apply Here</a>

		<h2>Already applied Candidates</h2>
		<ul>
			{% for x in applied_candidates %}
			<li>{{x}} : Status = {{x.status_application}}</li>
			{% endfor %}
		</ul>
</body>
</html>